@charset "UTF-8";

html {
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background: #F3F3F3;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  color: #181818;
}

main {
  margin-top: 209px;
}

section {
  margin-top: 100px;
}

input[type=text] {
  outline: #25A1D3;
}

.app-wrapper {
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  opacity: 0;
}

.app-wrapper.shadowed-wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #181818;
  opacity: 0.4;
  z-index: -1;
}

.h3 {
  font-weight: bold;
}

.h4 {
  font-weight: bold;
}

.my-btn_light {
  background: transparent;
  border: 1px solid #25A1D3;
  color: #25A1D3;
  border-radius: 25px;
}

.my-btn_light:hover {
  background: #25A1D3;
  color: #fff;
}

.my-btn {
  background: #25A1D3;
  color: #fff;
  border-radius: 25px;
}

.my-btn:hover {
  background: transparent;
  border: 1px solid #25A1D3;
  color: #25A1D3 !important;
}

.my-btn_green {
  background: #6FCF97;
  color: #fff;
  border-radius: 25px;
}

.my-btn_green:hover {
  background: transparent;
  border: 1px solid #6FCF97;
  color: #6FCF97 !important;
}

.footer__btn {
  border: 1px solid #A6B0B9;
  color: #fff;
}

.footer__btn:hover {
  background: #fff !important;
  color: #000;
}

.footer__btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.border-rounded {
  border-radius: 25px;
}

.text-dark {
  color: #181818;
}

.text-dark-gray {
  color: #A6B0B9;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: #181818;
}

a:hover {
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #000;
  content: "—";
}

.breadcrumb-item a {
  color: #000;
}

.nav-link {
  border-radius: 0 !important;
  padding: 0 18px !important;
  cursor: pointer;
}

.nav-link span {
  padding: 18px 0;
  display: block;
  border-bottom: 1px solid #E1F0FE;
  font-size: 18px;
  line-height: 21px;
}

.nav-link:hover:not(.active) {
  background: rgba(39, 163, 213, 0.5) !important;
}

.nav-link:hover:not(.active) span {
  border-color: transparent;
  color: #181818;
}

.nav-link.active {
  background: #25A1D3 !important;
}

.nav-link.active span {
  border: none;
}

.nav-link.active:hover {
  color: #fff;
}

.nav-link:last-child span {
  border-bottom: none;
}

.banner-stock .banner-stock__form {
  background: #012D5A;
  border-radius: 10px;
}

.banner-stock .banner-stock__form_title {
  font-size: 18px;
}

.banner-stock .banner-stock__form_text {
  font-size: 12px;
}

.banner-stock .banner-stock__form_input {
  outline: none;
  max-height: 60px;
}

.banner-stock .banner-stock__form_input-sub {
  font-size: 12px;
  color: #5883AF;
  bottom: -15px;
  padding: 0;
}

.banner-stock .banner-stock__form_submit {
  max-height: 60px;
}

.benefits__card {
  border-radius: 15px;
  max-height: 112px;
}

.benefits__card_rect {
  background: #F5FCFF;
  font-size: 40px;
  color: #25A1D3;
  max-width: 76px;
  height: 76px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
}

.benefits__card-content .h4 {
  font-size: 18px;
}

.benefits__card-content span {
  font-size: 14px;
  line-height: 18.2px;
}

.benefits__big-card {
  border-radius: 15px;
  overflow: hidden;
}

.benefits__big-card .card-img-top {
  max-height: 130px;
  height: 100%;
}

.benefits__big-card ul {
  list-style: disc;
}

.benefits__big-card ul li {
  line-height: 18.2px;
  margin-bottom: 20px;
}

.category__main {
  -webkit-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.category__main_hidden {
  max-height: 2000px !important;
}

.category__item {
  background: #fff;
  border-radius: 9px;
  position: relative;
  -webkit-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

.category__item_rect {
  background: #F3F3F3;
  border-radius: 3px;
}

.category__item_rect img {
  width: 100%;
}

.category__item i {
  position: absolute;
  font-size: 20px;
  color: #25A1D3;
  right: 15px;
}

.category__item:hover {
  color: #25A1D3;
}

.category__show-more {
  border-radius: 6px;
}

.category__big-card .col {
  background: #fff;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 9px;
  max-width: 90%;
  bottom: 18px;
}

.category__big-card .col .fa-angle-right {
  color: #25A1D3;
}

.dropdown-item {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: relative;
  cursor: pointer;
}

.dropdown-item a {
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #E1F0FE;
}

.dropdown-item:first-child .dropdown-menu_level {
  top: -8px;
}

.dropdown-item:hover {
  background: #25A1D3;
  color: #fff;
}

.dropdown-item:hover a {
  color: #fff;
}

.dropdown-item:hover > .dropdown-menu_level {
  display: block;
}

.dropdown-menu {
  background: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 16px;
  z-index: 10000;
}

.dropdown-menu_rect {
  background: #c4c4c4;
  border-radius: 5px;
  width: 28px;
  height: 28px;
}

.dropdown-menu_level {
  position: absolute;
  display: none;
  top: 0;
  left: 100%;
  padding-left: 16px;
}

.dropdown-menu_level .dropdown-menu {
  background: #fff;
  display: block;
  position: static;
}

.footer {
  background: #2B2B2B;
  margin-top: 65px;
}

.footer__logo img {
  height: 50px;
}

.footer__social a {
  background: #3D3D3D;
  width: 30px;
  height: 30px;
}

.footer__links {
  border-bottom: 1px solid #3D3D3D;
}

.footer__links a {
  color: #fff;
}

.footer__bottom {
  color: #A6B0B9 !important;
  font-size: 14px;
}

.footer__bottom a {
  color: #A6B0B9 !important;
}

.footer__desktop {
  color: #fff;
}

.footer__desktop_logo {
  height: 38px;
}

.footer__desktop-top {
  border-bottom: 1px solid #3D3D3D;
}

.footer__desktop-top a {
  font-size: 18px;
}

.footer__desktop-main {
  border-bottom: 1px solid #3D3D3D;
}

.footer__desktop-main a {
  font-size: 14px;
}

.footer__desktop-bottom span,
.footer__desktop-bottom .footer__mail {
  font-size: 14px;
  color: #A6B0B9 !important;
}

.footer__desktop-bottom .footer__mail:hover {
  color: #fff !important;
}

.footer__desktop a {
  color: #fff;
}

.header {
  background: #fff;
  -webkit-box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.25);
  max-height: 100vh;
}

.header__top {
  background: #012D5A;
}

.header__top .container {
  display: none;
}

.header__main {
  padding: 12px 0 !important;
}

.header__main-container span {
  font-size: 14px;
}

.header__main-container i {
  font-size: 1.1rem;
}

.header__main-btn {
  font-size: 14px;
}

.header__input {
  background: #F3F3F3;
  color: #A6B0B9;
  font-size: 15px;
}

.header__input::-webkit-input-placeholder {
  color: #A6B0B9;
}

.header__input::-moz-placeholder {
  color: #A6B0B9;
}

.header__input:-ms-input-placeholder {
  color: #A6B0B9;
}

.header__input::-ms-input-placeholder {
  color: #A6B0B9;
}

.header__input::placeholder {
  color: #A6B0B9;
}

.header__input_btn {
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__list-item_link {
  font-size: 14px;
}

.header__list-item_btn {
  background: #25A1D3;
  color: #fff;
  border-radius: 25px;
  font-weight: 400;
}

.header__list-item_btn .header__arrow {
  margin-top: 2px;
}

.header__list-item_btn:hover {
  color: #fff;
}

.header__mobile_btn {
  background: transparent;
  border: 1px solid #F3F3F3;
  color: #fff;
  font-size: 16px;
  width: 40px;
  height: 40px;
}

.header__mobile_humb {
  background: #F3F3F3;
  border: none;
  color: #00A0D4;
  font-size: 18px;
}

.header__mobile_humb.open .fa-bars {
  display: none;
}

.header__mobile_humb.open .fa-times {
  display: inline-block !important;
}

.header__mobile_main {
  background: #00A0D4;
}

.header__mobile .header__input_btn {
  right: 18px;
}

.header__mobile_title {
  font-size: 16px;
}

.header__mobile_submenu {
  padding-top: 130px;
  top: 0;
  left: 0;
  height: 0;
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.header__mobile_submenu.open {
  height: 100vh;
  visibility: visible;
  opacity: 1;
}

.header.scrolled .header__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header.scrolled .header__desktop .header__nav {
  display: inline-block;
  position: absolute;
  padding: 0 !important;
  max-width: 140px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 18%;
}

.header.scrolled .header__desktop .header__nav .dropdown {
  padding-right: 0 !important;
}

.header.scrolled .header__desktop .header__search {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.header.scrolled .header__desktop .header__main {
  border-bottom: none !important;
}

.header.scrolled .header__main_dropdown {
  display: block !important;
}

.header.scrolled .dropdown-menu {
  margin-top: 25px;
}

.header.scrolled .header__main-container div {
  position: relative;
}

.header.scrolled .header__main-container div:before {
  background: #25A1D3;
  content: "5";
  text-align: center;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 10px;
  position: absolute;
  color: #fff;
  left: 5px;
  top: 0;
}

.hits {
  margin-bottom: 100px;
}

.hits__item {
  border-radius: 10px;
}

.hits__item_text {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 14px;
}

.need-help__block {
  background: #012D5A;
  border-radius: 10px;
}

.need-help__btn {
  max-width: 400px;
  max-height: 60px;
  width: 100%;
  border-radius: 34px;
}

.news .news__card {
  border-radius: 10px;
  border: none;
}

.novelties__card {
  border-radius: 10px;
}

.novelties__top {
  border-radius: 10px;
}

.novelties__top_discount {
  background: #25A1D3;
  left: 0;
  border-radius: 9px;
  font-size: 11px;
}

.novelties__top_control {
  right: 0;
}

.novelties__top_control button {
  border: 1px solid #A6B0B9;
  color: #A6B0B9;
  font-size: 19px;
}

.novelties__content-btn .my-btn {
  border-radius: 62px;
}

.reviews__card {
  border-radius: 10px;
}

.reviews__card-top .reviews__top_rect {
  background: transparent;
}

.big-slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.big-slider .big-slide {
  height: 400px;
}

.big-slider .big-slide-item {
  height: 400px;
  border-radius: 9px;
}

.big-slider .big-slide-item img {
  border-radius: 9px;
  height: 100%;
}

.big-slider .big-slide .slick-dots {
  bottom: 54px;
}

.big-slider .big-slide .slick-dots button:before {
  background: #fff;
  content: "";
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.big-slider .big-slide .slick-dots .slick-active button:before {
  background: #A6B0B9;
}

.slick-arrow {
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.slick-arrow:before {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  font-size: 20px;
  color: #25A1D3;
  font-weight: 900;
}

.slick-arrow:hover {
  background: #25A1D3;
}

.slick-arrow:hover::before {
  color: #fff;
}

.slick-arrow:focus {
  background: #25A1D3;
}

.slick-arrow:focus::before {
  color: #fff;
}

.slick-prev {
  left: 20px;
}

.slick-prev::before {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
}

.slick-next {
  right: 20px;
}

.slick-next::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
}

.slick-response .slick-dots {
  bottom: -28px;
}

.slick-response .slick-dots button:before {
  opacity: 1;
  color: #A6B0B9;
  font-size: 8px;
}

.slick-response .slick-dots .slick-active button:before {
  color: #25A1D3;
}

.slick__mobile .slick-dots {
  position: static;
}

.slick__mobile .slick-dots button:before {
  background: #fff;
  content: "";
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.slick__mobile .slick-dots .slick-active button:before {
  background: #A6B0B9;
}

.slick__novelties .slick-dots {
  position: static;
}

.slick__novelties .slick-dots button:before {
  background: #fff;
  content: "";
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.slick__novelties .slick-dots .slick-active button:before {
  background: #A6B0B9;
}

.slick__reviews .slick-dots {
  position: static;
}

.slick__reviews .slick-dots button:before {
  background: #fff;
  content: "";
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.slick__reviews .slick-dots .slick-active button:before {
  background: #A6B0B9;
}

.category .subcategory {
  background: #fff;
  border-radius: 9px;
}

.category .subcategory__items {
  border-radius: 9px;
}

.category .subcategory__item {
  font-size: 14px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #E1F0FE;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.category .subcategory__item:hover {
  background: #E1F0FE;
}

.category__tabs {
  border-radius: 9px;
}

.category__tabs .category__tab {
  border: 1px solid #25A1D3;
  color: #25A1D3;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 9px;
  font-size: 14px;
}

.category__tabs .category__tab:hover {
  background: #25A1D3;
  color: #fff;
}

.category__filter {
  display: none;
  width: 100%;
}

.category__filter_border {
  border-bottom: 1px solid #E1F0FE;
}

.category__filter_body {
  border-radius: 9px;
}

.category__filter label span {
  font-size: 14px;
}

.category__filter label .category__filter_counter {
  color: #A6B0B9;
}

.category__filter_item {
  cursor: pointer;
}

.category__filter_item i {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.category__filter .rotate {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.category__filter_btn button {
  border-radius: 9px;
}

.category__dropdown {
  overflow: hidden;
  display: none;
}

.category__dropdown input[type=text] {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
}

.category__dropdown input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.category__dropdown.open {
  border-bottom: 1px solid #E1F0FE;
  padding-bottom: 20px;
}

.category__catalog .my-btn {
  width: 50px;
  height: 50px;
}

.category__catalog .category__pages .category__page {
  font-size: 18px;
  font-weight: 700;
  color: #A6B0B9;
  border: 1px solid #A6B0B9;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.category__catalog .category__pages .category__page:hover {
  color: #25A1D3;
  border-color: #25A1D3;
}

.category__catalog .category__pages .category__page.active {
  color: #25A1D3;
  border-color: #25A1D3;
}

.product-card__info {
  border-radius: 9px;
}

.product-card__info_stars {
  color: #E98F10;
}

.product-card__title .h2 {
  font-weight: bold;
}

.product-card__card {
  background: #fff;
  border-radius: 10px;
}

.product-card__card_row {
  width: 100%;
}

.product-card__card_images {
  max-width: 1000px;
}

.product-card__card_main-img {
  border-radius: 15px;
}

.product-card__card_main-img img {
  border-radius: 15px;
}

.product-card__card_main-info {
  font-size: 14px;
}

.product-card__card_main-info .h4 {
  font-size: 16px;
}

.product-card__card_main-info a {
  font-size: 16px;
  color: #25A1D3;
}

.product-card__char_border {
  height: 1px;
  border-bottom: 1px dashed #A6B0B9;
  margin-bottom: 5px;
}

.product-card__price {
  z-index: 500 !important;
  border-radius: 10px;
  top: 70px;
}

.product-card__price_drop {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #A6B0B9;
  font-size: 14px;
  cursor: pointer;
}

.product-card__price_drop i {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.product-card__price_drop .hidden {
  display: none;
}

.product-card__price_drop .rotate {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.product-card__price_btn {
  width: 27px;
  height: 27px;
  border: 1px solid #A6B0B9;
  color: #A6B0B9;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 23px;
  padding: 0 0 6px 0 !important;
  cursor: pointer;
}

.product-card__price_btn:hover {
  background: #A6B0B9;
  color: #fff;
}

.product-card__price_counter {
  margin: 0 9px;
  font-size: 14px;
}

.product-card__tabs_cont {
  border-radius: 9px;
}

.product-card__tabs_tab {
  border-radius: 9px;
}

.product-card__tabs_tab h2 {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: 700;
}

.product-card__tabs_tab h2 div {
  background: #F5FCFF;
  border-radius: 10px;
  color: #25A1D3;
}

.product-card__tabs_tab h3 {
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 700;
}

.product-card__tabs_tab .product-card__char_main {
  font-size: 14px;
}

.product-card__tabs_tab .tab-comment {
  color: #25A1D3 !important;
}

.product-card section h3 {
  font-size: 22px;
}

.article h1 {
  font-size: 28px;
}

.article__head {
  border-radius: 9px;
  font-size: 14px;
}

.article__head a {
  color: #00A0D4;
  font-size: 14px;
}

.article__body_main {
  border-radius: 9px;
}

.article__body_container {
  max-width: 700px;
}

.article__body h2 {
  font-size: 22px;
}

.article__body h3 {
  font-size: 16px;
}

.article__body p {
  font-size: 16px;
}

.article__body_table {
  border-radius: 9px;
  border-color: #A6B0B9 !important;
  font-size: 14px;
}

.article__body_table .row,
.article__body_table .col {
  border-color: #A6B0B9 !important;
}

.article__body_table h4 {
  font-size: 14px;
  margin: 0;
}

.article__body .position-sticky {
  top: 70px;
}

.article__body .card {
  border: none;
  border-radius: 10px;
}

.article__body .card-title {
  font-size: 16px;
}

.article__body .card-text {
  font-size: 14px;
}

.article__body .card .btn {
  padding: 12px 0 !important;
}

.price-list__tabs {
  background: #fff;
  border-radius: 9px;
  overflow: hidden;
  padding: 0;
}

.price-list__tab-content {
  border-radius: 10px;
}

.price-list__table {
  font-size: 14px !important;
}

.price-list__table .row:nth-child(2n) {
  background: #E1F0FE;
}

.price-list__table .row img {
  border-radius: 10px;
}

@supports (-webkit-appearance:none) {

}

@media (min-width: 992px) {
  .category__filter {
    display: block;
    width: 267px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 1200px) {
  .category__catalog .category__pages .category__page {
    width: 40px;
    height: 40px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    font-size: 1rem;
  }

  .col-xxl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .category__catalog .category__pages .category__page {
    width: 36px;
    height: 36px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1400px) {
  .header__top .container {
    font-size: 0.875rem;
  }

  .header.scrolled .header__desktop .header__nav {
    left: 21%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1200px) {
  .benefits__card-content .h4 {
    font-size: 16px;
  }

  .header.scrolled .header__desktop .header__nav {
    left: 23%;
  }

  .header.scrolled .header__desktop .header__search {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .header.scrolled .header__desktop .header__main-col-btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .header.scrolled .header__desktop .header__main-col-btn button {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .news .news__card .card-title {
    font-size: 16px;
  }

  .news .news__card .card-text {
    font-size: 14px;
  }

  .novelties__content-btn .btn {
    font-size: 14px;
  }

  .product-card__card_images {
    overflow-x: scroll;
  }

  .product-card__card_images .product-card__card_img img {
    width: 80px !important;
    height: 80px !important;
  }

  .product-card__price_price {
    font-size: 24px !important;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px) {
  main {
    margin-top: 130px;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .benefits__title .h3 {
    font-size: 16px;
  }

  .benefits__card {
    max-height: 170px;
  }

  .benefits__card_rect {
    max-width: 42px;
    height: 42px;
    font-size: 27px;
  }

  .benefits__row_big-card {
    overflow: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .benefits__big-card {
    font-size: 14px;
  }

  .category__main {
    max-height: 638px;
  }

  .footer {
    margin-top: 30px;
  }

  .header__main {
    border: none !important;
  }

  .need-help {
    font-size: 14px;
  }

  .need-help .h3 {
    font-size: 14px;
  }

  .need-help button {
    font-size: 14px;
  }

  .news .news__card .btn {
    max-height: 40px !important;
    font-size: 14px !important;
    padding: 9px 0 !important;
  }

  .novelties__top {
    background-color: #F3F3F3;
  }

  .novelties__top_discount {
    top: 10px;
    left: 10px;
    font-size: 9px;
  }

  .novelties__top img {
    max-height: 100px;
  }

  .novelties__content_text {
    font-size: 14px;
  }

  .novelties__content_price {
    font-size: 14px;
  }

  .novelties__content-btn .btn {
    font-size: 12px !important;
  }

  .reviews__card-top .reviews__top_rect {
    background-color: #F3F3F3;
  }

  .slick-dots {
    bottom: 10px !important;
  }

  .slick-arrow {
    display: none !important;
  }

  .category .subcategory {
    background-color: transparent;
  }

  .category__catalog .my-btn {
    width: 100%;
    height: auto;
    border-radius: 25px !important;
  }

  .category__catalog .novelties__content-btn.flex-nowrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }

  .product-card__title .h2 {
    font-size: 20px;
  }

  .product-card__card {
    background-color: transparent;
  }

  .product-card__card_images .product-card__card_img img {
    width: 80px !important;
    height: 80px !important;
  }

  .product-card__price_price {
    font-size: 25px;
  }

  .product-card__tabs .nav {
    max-width: 1000px;
    overflow-x: scroll;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: transparent !important;
    padding-bottom: 10px;
  }

  .product-card__tabs .nav a {
    border-radius: 10px !important;
    white-space: nowrap;
    margin-right: 9px;
    background-color: #fff;
  }

  .product-card__tabs .nav a span {
    font-size: 14px;
    border-bottom: none;
  }

  .article__body .position-sticky {
    top: 112px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 991px) {
  section {
    margin-top: 35px !important;
  }

  .hits {
    margin-bottom: 30px;
  }

  .reviews__card-title {
    position: relative;
    top: 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .h3 {
    font-size: 16px;
  }

  .banner-stock .banner-stock__form_input {
    max-height: 40px;
  }

  .banner-stock .banner-stock__form_submit {
    padding: 13px 0;
    max-height: 40px;
  }

  .benefits__card-content .h4 {
    font-size: 16px;
  }

  .category__main {
    max-height: 400px;
  }

  .category__item {
    font-size: 14px;
  }

  .category__item_rect {
    padding: 4px !important;
    max-width: 42px;
    max-height: 42px;
  }

  .header__mobile_submenu {
    padding-top: 120px;
  }

  .hits__item_text {
    font-size: 12px;
  }

  .news .news__card .btn {
    font-size: 12px !important;
  }

  .big-slider .big-slide {
    height: 200px;
  }

  .big-slider .big-slide-item {
    height: 200px;
  }

  .category__title h2 {
    font-size: 16px;
  }

  .category__tabs .category__tab {
    font-size: 12px;
  }

  .product-card__title .h2 {
    font-size: 18px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767px) {
  .footer__links {
    font-size: 14px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 720px) {
  .product-card__card_images img {
    max-width: 60px !important;
    max-height: 60px !important;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 576px) {
  .benefits__card-content .h4 {
    font-size: 14px;
  }

  .benefits__card-content span {
    display: block;
    font-size: 12px;
    line-height: 15px;
  }

  .big-slider .big-slide {
    height: 150px;
  }

  .big-slider .big-slide-item {
    height: 150px;
  }

  .product-card__title .h2 {
    font-size: 16px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 575px) {
  .breadcrumb-item {
    font-size: 14px;
  }

  .breadcrumb-item a {
    font-size: 14px;
  }

  .header__mobile_title {
    font-size: 14px;
  }

  .product-card__tabs_tab h2 {
    font-size: 14px;
  }

  .product-card__tabs_tab h3 {
    font-size: 12px;
  }

  .product-card__tabs_tab .product-card__char_main {
    font-size: 12px;
  }

  .product-card__tabs_tab div {
    font-size: 12px;
  }

  .product-card__tabs_tab button {
    font-size: 12px;
  }

  .product-card__tabs .nav a span {
    font-size: 12px;
  }

  .product-card__tabs .tab-comment {
    font-size: 12px;
    font-weight: 700;
  }

  .product-card__tabs .tab-comment h2 {
    font-size: 14px !important;
  }

  .product-card__tabs .tab-comment a span {
    font-size: 12px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 574px) {
  .category__big-card .col {
    bottom: 8px;
    font-size: 14px;
    padding: 10px !important;
    line-height: 16px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 540px) {
  .footer__logo img {
    height: 22px;
  }

@supports (-webkit-appearance:none) {

}
}