.banner-stock {
  &__form {
    border-radius: 10px;
    background-color: #012D5A;
    &_title {
      font-size: 22px;
      @media (max-width: 992px) {
        font-size: 18px;
      }
    }
    &_text {
      font-size: 16px;
      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
    &_input {
      outline: none;
      height: 60px;
      font-size: 12px;
      @media (max-width: 992px) {
        height: 40px;
      }
      &-sub {
        top: 0;
        font-size: 12px;
        color: #5883AF;
        padding: 0;
      }
    }
    &_submit {
      height: 60px;
      position: relative;
      z-index: 2;
      @media (max-width: 992px) {
        padding: 7px 0!important;
        height: 40px;
        font-size: 12px;
      }
    }
  }
  &__question {
    width: 107px;
    height: 172px;
    top: -10px;
    right: -20px;
    z-index: 1;
    @media (max-width: 992px) {
      display: none;
    }
  }
}