.benefits {
  &__title {
    .h3 {
      @media (max-width: 992px) {
        font-size: 16px;
      }
    }
  }
  &__card {
    border-radius: 15px;
    max-height: 112px;
    @media (max-width: 992px) {
      max-height: 170px;
    }
    &_rect {
      background-color: #F5FCFF;
      font-size: 40px;
      color: #25A1D3;
      max-width: 76px;
      height: 76px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      @media (max-width: 992px) {
        max-width: 42px;
        height: 42px;
        font-size: 27px;
      }
    }
    &-content {
      .h4 {
        font-size: 18px;
        @media (max-width: 1200px) {
          font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 576px) {
            font-size: 14px;
        }
      }
      span {
        font-size: 14px;
        line-height: 18.2px;
        @media (max-width: 576px) {
            display: block;
            font-size: 12px;
            line-height: 15px;
        }
      }
    }
  }
  &__row_big-card {
    @media (max-width: 992px) {
      overflow: auto;
      flex-wrap: nowrap;
    }
  }

  &__big-card {
    border-radius: 15px;
    overflow: hidden;
    @media (max-width: 992px) {
      font-size: 14px;
    }

    .card-img-top {
      max-height: 130px;
      height: 100%;
    }

    ul {
      list-style: disc;

      li {
        line-height: 18.2px;
        margin-bottom: 20px;
      }
    }
  }
}