.category {
  &__main {
    @media (max-width: 992px) {
      max-height: 638px;
    }
    transition: max-height 0.5s;
  }

  &__item {
    background-color: #fff;
    border-radius: 9px;
    position: relative;
    transition: color 0.15s linear;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    &_rect {
      background-color: #F3F3F3;
      border-radius: 3px;

      img {
        width: 100%;
      }

      @media (max-width: 768px) {
        padding: 4px !important;
        max-width: 42px;
        max-height: 42px;
      }
    }

    i {
      position: absolute;
      font-size: 20px;
      color: #25A1D3;
      right: 15px;
    }

    &:hover {
      color: #25A1D3;
    }
  }

  &__show-more {
    border-radius: 6px;
  }

  &__big-card {
    .col {
      cursor: pointer;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 9px;
      max-width: 90%;
      bottom: 18px;
      background-color: #fff;
      @media (max-width: 574px) {
        bottom: 8px;
        font-size: 14px;
        padding: 10px !important;
        line-height: 16px;
      }
      .fa-angle-right {
        color: #25A1D3;
      }
    }
  }
}