.footer {
  margin-top: 100px;
  background-color: #2B2B2B;

  &__logo {
    img {
      height: 50px;
      @media (max-width: 540px) {
        height: 22px;
      }
    }
  }
  &__social {
    a {
      background-color: #3D3D3D;
      width: 30px;
      height: 30px;
    }
  }
  &__links {
    border-bottom: 1px solid #3D3D3D;
    a {
      color: #fff;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  &__bottom {
    color: #A6B0B9;
    font-size: 14px;
  }

  &__desktop {
    color: #fff;
    &_logo {
      height: 38px;
    }
    &-top {
      border-bottom:1px solid #3D3D3D;
    }
    &-main {
      border-bottom:1px solid #3D3D3D;
    }
    &-bottom {
      span {
        font-size: 14px;
        color: #A6B0B9;
      }

    }
    a {
      color: #fff;
    }
  }
}