.big-slider {
  user-select: none;
  .big-slide {
    height: 400px;
    @media (max-width: 768px) {
      height: 200px;
    }
    @media (max-width: 576px) {
      height: 150px;
    }

    &-item {
      height: 400px;
      border-radius: 9px;
      @media (max-width: 768px) {
        height: 200px;
      }
      @media (max-width: 576px) {
        height: 150px;
      }

      img {
        border-radius: 9px;
        height: 100%;
      }
    }

    .slick {
      &-dots {
        bottom: 54px;

        button {
          &:before {
            content: "";
            width: 12px;
            height: 12px;
            border: none;
            border-radius: 50%;
            background-color: #fff;
            opacity: 1;
            transition: background-color 0.4s;
          }

        }

        .slick-active {
          button:before {
            background-color: #A6B0B9;
          }
        }
      }
    }
  }
}

.slick {
  &-dots {
    @media (max-width: 992px) {
      bottom: 10px!important;
    }
  }
  &-arrow {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    transition: background-color 0.2s linear;
    @media (max-width: 992px) {
      display: none!important;
    }
    &:before {
      transition: color 0.2s linear;
      font-size: 20px;
      color: #25A1D3;
      font-weight: 900;
    }
    
    &:hover {
      background-color: #25A1D3;
      &::before {
        color: #fff;
      }
    }

    &:focus {
      background-color: #25A1D3;
      &::before {
        color: #fff;
      }
    }
  }
  &-prev {
    left: 20px;
    &::before {
      content: '\f104';
      font-family: 'Font Awesome 5 Free';
    }
  }
  &-next {
    right: 20px;
    &::before {
      content: '\f105';
      font-family: 'Font Awesome 5 Free';
    }
  }
}

.slick-response {
  .slick {
    &-dots {
      bottom: -28px;
      button:before {
        opacity: 1;
        color: #A6B0B9;
        font-size: 8px;

      }
      .slick-active {
        button:before {
          color: #25A1D3;
        }
      }
    }
  }
}

.slick__mobile {
  .slick {
    &-dots {
      position: static;
      button {
        &:before {
          content: "";
          width: 12px;
          height: 12px;
          border: none;
          border-radius: 50%;
          background-color: #fff;
          opacity: 1;
          transition: background-color 0.4s;
        }

      }

      .slick-active {
        button:before {
          background-color: #A6B0B9;
        }
      }
    }
  }
}

.slick__novelties {
  .slick {
    &-dots {
      position: static;
      button {
        &:before {
          content: "";
          width: 12px;
          height: 12px;
          border: none;
          border-radius: 50%;
          background-color: #fff;
          opacity: 1;
          transition: background-color 0.4s;
        }

      }

      .slick-active {
        button:before {
          background-color: #A6B0B9;
        }
      }
    }
  }
}

.slick__reviews {
  .slick {
    &-dots {
      position: static;
      button {
        &:before {
          content: "";
          width: 12px;
          height: 12px;
          border: none;
          border-radius: 50%;
          background-color: #fff;
          opacity: 1;
          transition: background-color 0.4s;
        }

      }

      .slick-active {
        button:before {
          background-color: #A6B0B9;
        }
      }
    }
  }
}