.product-card {
  &__info {
    border-radius: 9px;

    a {
      color: #25A1D3;
    }
  }

  &__info_stars {
    color: #E98F10;
  }

  &__title {
    .h2 {
      font-weight: bold;
      @media (max-width: 992px) {
        font-size: 20px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
      }

      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }

  &__card {
    background-color: #fff;
    border-radius: 10px;
    @media (max-width: 992px) {
      background-color: transparent;
    }

    &_row {
      width: 100%;
    }

    &_images {
      max-width: 1000px;
      @media (max-width: 1200px) {
        overflow-x: scroll;
        .product-card__card_img {
          img {
            width: 80px !important;
            height: 80px !important;
          }
        }
      }
      @media (max-width: 992px) {
        .product-card__card_img {
          img {
            width: 80px !important;
            height: 80px !important;
          }
        }
      }
      @media (max-width: 720px) {
        img {
          max-width: 60px !important;
          max-height: 60px !important;
        }
      }
    }

    &_main-img {
      border-radius: 15px;

      img {
        border-radius: 15px;
      }
    }
  }

  &__card_main-info {
    font-size: 14px;

    .h4 {
      font-size: 16px;
    }

    a {
      font-size: 16px;
      color: #25A1D3;
    }
  }

  &__char_border {
    height: 1px;
    border-bottom: 1px dashed #A6B0B9;
    margin-bottom: 5px;
  }

  &__price {
    z-index: 500 !important;
    border-radius: 10px;
    top: 70px;

    .my-btn_green {
      height: 30px;
      padding:0!important;
      font-size: 13px;
    }

    &_price {
      font-size: 36px;

      @media (max-width: 1400px) {
        font-size: 28px;
      }

      @media (max-width: 1200px) {
        font-size: 24px;
      }

      @media (max-width: 992px) {
        font-size: 25px;
      }
    }

    &_discount {
      font-size: 20px;
      text-decoration: line-through;
      color: #A6B0B9;
      @media (max-width: 1200px) {
        font-size: 16px;
      }
    }

    &_drop {
      align-items: center;
      border: 1px solid #A6B0B9;
      font-size: 14px;
      cursor: pointer;
      padding: 10px 18px !important;
      margin-bottom: 0 !important;
      user-select: none;

      i {
        transition: all 0.2s linear;
      }

      .hidden {
        display: none;
      }
      .rotate {
        transform: rotate(-180deg);
      }
    }

    &_btn {
      width: 27px;
      height: 27px;
      border: 1px solid #A6B0B9;
      color: #A6B0B9;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
      padding: 0 0 6px 0 !important;
      cursor: pointer;

      &:hover {
        background-color: #A6B0B9;
        color: #fff;
      }
    }

    &_counter {
      margin: 0 9px;
      font-size: 14px;
    }

    .my-btn, .my-btn_light {
      height: 50px !important;
      @media (max-width: 992px) {
        height: 40px!important;
      }
    }
  }

  &__tabs {
    &_cont {
      border-radius: 9px;
    }

    &_tab {
      border-radius: 9px;

      h2 {
        font-size: 22px;
        margin-bottom: 16px;
        font-weight: 700;

        @media (max-width: 575px) {
          font-size: 14px;
        }

        div {
          background-color: #F5FCFF;
          border-radius: 10px;
          color: #25A1D3;
        }
      }

      h3 {
        font-size: 16px;
        margin-bottom: 18px;
        font-weight: 700;
        @media (max-width: 575px) {
          font-size: 12px;
        }
      }

      .product-card__char_main {
        font-size: 14px;
        @media (max-width: 575px) {
          font-size: 12px;
        }
      }

      div {
        @media (max-width: 575px) {
          font-size: 12px;
        }
      }

      button {
        @media (max-width: 575px) {
          font-size: 12px;
        }
      }

      .tab-comment {
        color: #25A1D3 !important;
      }
    }

    .nav {
      @media (max-width: 992px) {
        max-width: 1000px;
        overflow-x: scroll;
        flex-wrap: nowrap;
        background-color: transparent !important;
        padding-bottom: 10px;

        a {
          border-radius: 10px !important;
          white-space: nowrap;
          margin-right: 9px;

          span {
            font-size: 14px;
            border-bottom: none;
          }

          background-color: #fff;
        }
      }
      @media (max-width: 575px) {
        a {
          span {
            font-size: 12px;
          }
        }
      }
    }

    .tab-comment {
      @media (max-width: 575px) {
        font-size: 12px;
        font-weight: 700;
        h2 {
          font-size: 14px !important;
        }


        a {
          span {
            font-size: 12px;
          }
        }
      }
    }
  }

  &__text-left {
    word-break: break-all;
    max-width: 200px;
  }
  &__text-right {
    max-width: 40%;
  }


  section {
    h3 {
      font-size: 22px;
    }
  }
}
