html {
  margin-right: calc(-1 * (100vw - 100%));
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  color: #181818;
  background-color: #F3F3F3;
}

main {
  margin-top: 209px;
  @media (max-width: 992px) {
    margin-top: 130px;
  }
}

section {
  margin-top: 100px;
  @media (max-width: 991px) {
    margin-top: 35px !important;
  }
}

input[type="text"] {
  outline: #25A1D3;
}

.app-wrapper {
  transition: background-color 0.4s ease-in-out;
  opacity: 0;
  &.shadowed-wrap {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #181818;
    opacity: 0.4;
    z-index: -1;
  }
}

.container {
  @media (max-width: 576px) {
    padding: 0 10px;
  }
  @media (min-width: 1400px) {
    max-width: 1430px;
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700!important;
}

.h3 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 40px !important;
  @media (max-width: 768px) {
    font-size: 16px;
    margin-bottom: 20px!important;
  }
}

.my-btn_light {
  border: 1px solid #25A1D3;
  color: #25A1D3;
  border-radius: 25px;
  background-color: transparent;

  &:hover {
    background-color: #25A1D3;
    color: #fff;
  }
}

.my-btn {
  background-color: #25A1D3;
  color: #fff;
  border-radius: 25px;

  &:hover {
    border: 1px solid #25A1D3;
    background-color: transparent;
    color: #25A1D3!important;
  }
}

.my-btn_green {
  background-color: #6FCF97;
  color: #fff;
  border-radius: 25px;

  &:hover {
    border: 1px solid #6FCF97;
    background-color: transparent;
    color: #6FCF97!important;
  }
}

.footer__btn {
  border: 1px solid #A6B0B9;
  color: #fff;

  &:hover {
    background-color: #fff!important;
    color: #000;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,50%);
  }
}

.border-rounded {
  border-radius: 25px;
}

.col-xxl-3 {
  @media (min-width: 1400px) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.text-dark {
  color: #181818;
}

.text-dark-gray {
  color: #A6B0B9;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: #181818;

  &:hover {
    text-decoration: none;
  }

}

.breadcrumb {
  &-item + &-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #000;
    content: "—";

    @media (max-width: 992px) {
      padding-right: 0.2rem;
      padding-left: 0.2rem;
    }
  }
  &-item {
    font-size: 12px;
    a {
      color: #000;
      font-size: 12px;
    }
  }
}

.nav-link {
  border-radius: 0!important;
  padding: 0 18px !important;
  cursor: pointer;
  span {
    padding: 18px 0;
    display: block;
    border-bottom: 1px solid #E1F0FE;
    font-size: 18px;
    line-height: 21px;
  }

  &:hover:not(.active) {
    background-color: rgba(39,163,213,0.5)!important;
    span {
      border-color: transparent;
      color: #181818;
    }
  }
  &.active {
    background-color: #25A1D3!important;
    span {
      border: none;
    }
    &:hover {
      color: #fff;
    }
  }
  &:last-child {
    span {
      border-bottom: none;
    }
  }
}

@import "main/*.scss";
@import "category/*.scss";
@import "product-card/*.scss";
@import "article/*.scss";
@import "priceList/*.scss";
